[Unit]
Description=Run lingowale daily push at 09:30 Beijing time

[Timer]
OnCalendar=*-*-* 10:10:00
Persistent=true

[Install]
WantedBy=timers.target
